.btn {
  width: 366px;
  padding: 37px;
  border: 4px solid #47a7e3;
  color: #47a7e3;
  border-radius: 25px;

  &--orange {
    border: none;
    background: $gradient-orange;
    color: #fff;
    transition: transform 100ms ease-in-out;

    &:hover,
    &:focus-visible {
      background: $gradient-orange-reverse;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &:hover,
  &:focus-visible {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;
  }

  &:active {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  @include vp-885 {
    width: 261px;
    padding: 24.5px;
  }
}

.btn-small {
  width: 182px;
  padding: 8px;
  border: 2px solid #83bcdc;
  color: #83bcdc;
  border-radius: 10px;

  &:hover,
  &:focus-visible {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;
  }

  &:active {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
