.check {
    margin-bottom: 145px;

    &__text-wrapper {
        text-align: center;
        margin-bottom: 32px;
    }

    &__title {
        margin: 0;
        margin-bottom: 8px;
    }

    &__title-text {
        margin: 0;
    }

    &__info {
        color: #83BCDC;
        margin-bottom: 16px;
    }

    &__form-wrapper {
        box-shadow: 0px 7px 30px 0px #79797933;
        padding: 70px 60px;
        border-radius: 25px;
        max-width: 660px;
    }

    &__form-set {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        padding: 0;
    }

    &__textarea {
        min-height: 79px;
    }

    &__checkbox-wrapper {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 12px 32px;
    }

    &__link {
        text-decoration: underline;
        color: $color-blue;

        &:hover,
        &:focus {
            color: $color-orange;
        }
    }
}