.consultation {
    background-color: #fff;
    padding: 33px 6px;
    margin-bottom: 67px;
    box-shadow: 6px 7px 7px 0px #8989891A;
    border-radius: 25px;
    width: 975px;
    height: 428px;

    &__text-wrapper {
        margin-top: auto;
        max-width: 421px;
    }

    &__img {
        &-center {
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
        }
    }
}