.dropdown-menu {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  width: max-content;

  svg {
    transform: scaleY(-1);
    color: $color-white;
    z-index: 2;
  }

  &__list {
    box-shadow: $box-shadow-menu;
    transform: translateY(-10px);

    li {
      margin-bottom: 10px;

      :hover {
        font-weight: 600;
      }
    }
  }
}

.dropdown-menu-mobile {
  transform: translateY(100%);
  left: 0;
  bottom: 0;
  text-align: center;
  
  &__item {
    position: relative;
    z-index: 12;
  }

  li {
    background-color: $color-white;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0 0 16px 16px;
      box-shadow: $box-shadow-mobile-menu;
      z-index: 11;
    }
  }
}
