.firstscreen {
  background: $gradient-blue;

  ul {
    max-width: 585px;
  }

  .h1 {
    @include vp-1024 {
      font-size: 40px;
      line-height: 50px;
    }

    @include vp-885 {
        font-size: 20px;
        line-height: 26px;
    }
  }

  .mobile-transform {
    @include vp-885 {
        align-items: center;
        text-align: center;
    }
  }

  .t1 {
    @include vp-885 {
        font-size: 14px;
        line-height: 20px;
    }
  }

  .container {
    padding-bottom: 70px;
    justify-content: center;

    @include vp-885 {
        justify-content: start;
        padding-bottom: 0;
    }
  }

  &__img {
    width: 460px;
    height: 473px;

    @include vp-1024 {
      width: 320px;
      height: 329px;
    }

    @include vp-885 {
      width: 170px;
      height: 174px;
    }
  }

  &__img-bottom {
    width: 178px;
    height: 98px;

    @include vp-1024 {
      width: 91px;
      height: 54px;
    }
  }
}

.ul-pref-arrow {
  li span::before {
    content: "";
    position: absolute;
    left: -13px;
    top: 0;
    width: 12px;
    height: 16px;
    transform: translateX(-100%);
    background-image: url("../../assets/images/right-arrow-orange.png");
    background-size: cover;
  }
}

.mobile-reverse-orientation {
  @include vp-885 {
    flex-direction: column-reverse;
    padding-top: 40px;
  }
}
