.header {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background: $gradient-blue;
  padding: 0 0 32px;
  min-height: 100vh;

  @include vp-885 {
    padding: 0 0 16px;
  }

  &__wrapper {
    max-width: 100%;
  }

  &__header {
    height: max-content;
    padding-top: 32px;

    @include vp-885 {
      padding-top: 16px;
      
      &:has(.mobile-menu--open) {
        background-color: $color-white;

        &::after {
          content: "";
          z-index: 2;
          position: absolute;
          height: 10px;
          bottom: -13px;
          left: 0;
          right: 0;
          box-shadow: $box-shadow-mobile-menu;
        }
      }
    }
  }
}
