.header {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background: $gradient-blue;
  padding: 32px 0;
  min-height: 100vh;

  @include vp-885 {
    padding: 16px 0;
  }

  &__header {
    height: max-content;

    @include vp-885 {
      &:has(.mobile-menu--open) {
        background-color: $color-white;

        &::after {
          content: "";
          position: absolute;
          height: 10px;
          bottom: 0;
          left: 0;
          right: 0;
          box-shadow: $box-shadow-mobile-menu;
        }
      }
    }
  }
}
