.header {
  padding: 32px 0;
  z-index: 4;

  @include vp-885 {
    padding: 16px 0;

    &:has(.mobile-menu--open) {
      background-color: $color-white;

      &::after {
        content: "";
        position: absolute;
        height: 10px;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: $box-shadow-mobile-menu;
      }
    }
  }
}
