.info-content {
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);

  button {
    transition: transform 400ms ease-in-out;
    color: #C9C9C9;

    &:hover,
    &:focus {
      transform: scale(1.5);
      color: #000;
    }
  }

  &__wrapper {
    background-color: #fff;
    border-radius: 28px;
    width: 52vw;
    z-index: 10;
  }

  &__title {
    width: 100%;
    padding: 40px;
    margin-bottom: 60px;
    box-shadow: 0px 7px 30px 0px #79797933;
    border-radius: 28px;

    img {
        width: 41%;
        min-width: 285px;
    }
  }

  &__list {
    text-align: center;
    max-width: 735px;
    padding: 0 20px;
    margin-bottom: 55px;
  }
}
