.link {
  color: $color-text;

  svg {
    transition: transform 500ms ease-in-out;
  }

  &:hover,
  &:focus-visible {
    color: $color-blue;
  }

  &--orange {
    color: $color-orange;
  }

  &--active {
    color: $color-orange;

    svg {
      transform: scaleY(-1);
    }

    + .dropdown-menu {
      display: flex;
    }
  }

  &--mobile {
    position: relative;
    z-index: 12;

    &.link--active {
      text-decoration: underline;
      color: $color-text;
      font-weight: 600;

      + .dropdown-menu-mobile__btn-menu {
        display: flex;
      }
    }

    &:hover,
    &:focus-visible {
      color: $color-orange;
      text-decoration: underline;
    }
  }

  &--tile {
    box-shadow: 0px 7px 15px 0px #62707a2e;
    border-radius: 20px;
    width: 123px;
    height: 123px;
    color: $color-primary;

    svg,
    img {
      width: 80%;
      height: 80%;
    }

    &:hover {
      box-shadow: 0px 4px 8px 0px #bbbbbb33 inset;
      box-shadow: 0px -4px 4px 0px #a1a1a140 inset;
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    &:active {
      box-shadow: 0px 7px 15px 0px #62707A2E;
    }

    @include vp-1024 {
      width: 80px;
      height: 80px;
    }
  }

  &--tile-large {
    width: 244px;
    height: 244px;

    @include vp-1024 {
      width: 175px;
      height: 175px;
    }

    @include vp-885 {
      width: 158px;
      height: 158px;
    }
  } 
}
