.services {
  margin-bottom: 100px;

  &__openning-img {
    width: 344px;
    height: 98px;
    margin-bottom: 100px;

    @include vp-885 {
      width: 190px;
      height: 54px;
      margin-bottom: 32px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 15px;
    text-align: center;

    @include vp-1024 {
      max-width: 870px;
    }

    @include vp-885 {
      max-width: 349px;
    }
  }

  &__item {
    max-width: 253px;

    @include vp-1024 {
      max-width: 206px;

      .h4 {
        font-size: 16px;
        line-height: 22px;
      }
    }

    @include vp-885 {
      max-width: 166px;
      
      .h4 {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
