.social {
  height: max-content;
  max-height: 378px;
  margin-bottom: 150px;

  @include vp-1024 {
    margin-bottom: 120px;
  }

  @include vp-885 {
    margin-bottom: 80px;
  }

  &::after {
    content: "";
    width: 100vw;
    height: 220px;
    background-color: #f5faff;
    position: absolute;
    left: -66%;
    top: 50%;
    transform: translate(0, -45%);
    z-index: -1;

    @include vp-1024 {
      height: 180px;
      left: -75%;
    }

    @include vp-885 {
      display: none;
    }
  }

  &__image {
    @include vp-1024 {
      width: 394px;
      height: 264px;
    }
  }

  &__text {
    margin-top: -5px;
  }

  &__right {
    max-width: 445px;
    padding-right: 45px;

    img {
      transform: translateX(50%);
    }

    @include vp-885 {
      margin: 0 auto;
      text-align: center;
      padding-right: 0;

      img {
        transform: translateX(0);
        margin-right: auto;
      }
    }
  }
}
