.social {
  height: max-content;
  max-height: 378px;
  margin-bottom: 150px;

  &::after {
    content: "";
    width: 100vw;
    height: 220px;
    background-color: #F5FAFF;
    position: absolute;
    left: -66%;
    top: 50%;
    transform: translate(0, -45%);
    z-index: -1;
  }

  &__image {

  }

  &__text {
    margin: -5px 0 50px;
  }

  &__right {
    max-width: 400px;

    img {
        transform: translateX(50%);
    }
  }

  &__item {
    box-shadow: 0px 7px 15px 0px #62707a2e;
    border-radius: 20px;
    width: 123px;
    height: 123px;
  }
}
