.svg {
    &__logo svg {
        @include vp-1024 {
            width: 101px;
            height: 27px;
        }
    }

    &__mobile-btn {
        svg {
            color: #56AEDB;
        }
        transition: transform 500ms ease-in-out;
    }

    &__logo:hover,
    &__logo:focus-visible {
        .svg__logo--g {
            fill: $color-darkBlue;
        }

        .svg__logo--b {
            fill: $color-orange;
        }
    }

    &__mobile-btn:hover,
    &__mobile-btn:focus-visible {
        svg {
            color: $color-orange;
        }
        transform: scale(1.05);
    }
}
