.tarifs {
  margin-bottom: 150px;

  .swiper-slide {
    //   overflow: hidden;
    //   border-radius: 10px;
    //   box-shadow: $box-shadow-slide;
    // background-color: #e2e2e2;
    // max-width: fit-content;
  }

  &__item {
    gap: 40px;

    @include vp-1024 {
      gap: 30px;
    }

    @include vp-885 {
      gap: 25px;
      flex-direction: column-reverse;
    }
  }

  &__list {
    gap: 80px;
  }

  &__description {
    max-width: 908px;

    @include vp-1024 {
      max-width: 611px;
    }

    @include vp-885 {
      max-width: 343px;
    }
  }

  &__text-wrapper {
    @include vp-885 {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
  }

  &__byOne {
    color: #b5b5b5;
  }

  &__price-top {
    font-weight: 500;
    font-size: 40px;
    gap: 10px;
  }

  &__price-number {
    font-weight: 700;
    font-size: 78px;
    line-height: 66px;
  }

  &__swiper-content {
    width: 380px;
    height: 506px;

    // @include vp-1024 {
    //   width: 412px;
    //   height: 550px;
    // }

    // @include vp-885 {
    //   width: 230px;
    //   height: 307px;
    // }
  }
}
