.h1 {
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 0.8px;
}

.h2 {
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.8px;
}

.h3 {
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.8px;
}

.h4 {
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.8px;
}

.h5 {
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
}

.h6 {
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
}

.h7 {
    font-family: $ff-montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.8px;
}

.t1 {
    font-family: $ff-montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.t2 {
    font-family: $ff-montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.t3 {
    font-family: $ff-montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.textcolor-blue {
    color: #47A7E3;
}