.btn {
  width: 366px;
  padding: 37px;
  border: 4px solid #47A7E3;
  color: #47A7E3;
  border-radius: 25px;

  &--orange {
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;
  }

  &:active {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn-small {
    width: 182px;
    padding: 8px;
    border: 2px solid #83BCDC;
    color: #83BCDC;
    border-radius: 10px;

    &:hover,
    &:focus,
    &:focus-visible {
      color: $color-white;
      background-color: $color-blue;
      border-color: $color-blue;
    }

    &:active {
      background-color: $color-primary;
      border-color: $color-primary;
    }
}
