.svg {
    &__logo:hover,
    &__logo:focus,
    &__logo:focus-visible {
        .svg__logo--g {
            fill: $color-darkBlue;
        }

        .svg__logo--b {
            fill: $color-orange;
        }
    }
}