// Colors

$color-white:   #ffffff;
$color-black:   #000000;
$color-darkBlue:#306694;
$color-primary: #83BCDC;
$color-blue:    #4299D5;
$color-orange:  #E97522;
$color-text:    #585858;
$gradient-skin: linear-gradient(330.94deg, #FCB7B4 605181.37%, #FEB3B1 646927.31%);
$gradient-blue: linear-gradient(180deg, rgba(172, 216, 239, 0.5) -2.24%, rgba(245, 250, 255, 0) 78.75%);
$gradient-orange: linear-gradient(180deg, #FFA96B -21.43%, #EE7A28 100%);
$gradient-orange-reverse: linear-gradient(180deg, #EE7A28 -21.43%, #FFA96B -21.42%);
$box-shadow-menu: 0px 1px 10px 0px #a7a7a740;
$box-shadow-mobile-menu: 0px 2px 2px 0px #8FA4A926;



// Typography

$ff-montserrat: "Montserrat", 'Arial', sans-serif;

// Viewport

$vp-tablet: 1440px;
$vp-tablet-h: 1024px;
$vp-tablet-v: 768px;
$vp-mobile: 576px;

// Animations

$tr-05s: transform 0.5s ease-in-out;
