// Colors

$color-white:   #ffffff;
$color-black:   #000000;
$color-darkBlue:#306694;
$color-primary: #83BCDC;
$color-blue:    #4299D5;
$color-orange:  #E97522;
$color-text:    #585858;

// Typography

$ff-montserrat: "Montserrat", 'Arial', sans-serif;

// Viewport

$vp-tablet: 1440px;
$vp-tablet-h: 1024px;
$vp-tablet-v: 768px;
$vp-mobile: 576px;

// Animations

$tr-05s: transform 0.5s ease-in-out;
