//global
@import "./globals/fonts";
@import "./globals/variables";
@import "./globals/mixins";
@import "./globals/normalize";
@import "./globals/reboot";
@import "./globals/container";
@import "./globals/visually-hidden";

@import "./globals/flex";
@import "tailwindcss";

//blocks
@import "./blocks/link.scss";
@import "./blocks/btn.scss";
@import "./blocks/svg.scss";
@import "./blocks/text.scss";
@import "./blocks/color";

@import "./blocks/header";
@import "./blocks/firstscreen";
@import "./blocks/dropdown-menu";
@import "./blocks/nav";
@import "./blocks/social";
@import "./blocks/services";
@import "./blocks/tarifs";

